




/* Barra de navegacion */

.navbar {
    padding: 2rem;
    background-color: #0b0b0b;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;  
  }
  
  /* Estilos generales */
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-oscura {
    color: rgb(80, 28, 28);
    background-color: #7272cf;
  }
  
  .seccion-clara {
    color: rgba(219, 24, 24, 0.83);
    background-color: rgb(92, 102, 255);
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #642a2a;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .texto-negro {
    color: rgb(13, 13, 13);
  }
  
  .texto-blanco {
    color: rgb(1, 121, 61);
  }
  
  /* Seccion Hero */
  
  .hero {
    background-color: #a18a0c;
    min-height: 450px;
    text-align: center;
  }
  
  .hero-principal {
    padding: 3rem;
  }
  
  .hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .hero-principal h2 {
    font-size: 1.5rem;
    color: #752100;
  }
  
  /* Sobre mi */
  
  .sobre-mi {
    height: 500px;
    padding: 10px;
  }
  
  .sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
  }
  
  /* Experiencia */
  
  .experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #2366814d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color: rgb(127, 245, 156);
    background-color: #585896;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: #59813a;
    background-color: #5353a5;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badge {
    margin: 5px;
  }
  
  /* Proyectos */
  
  .proyectos-recientes {
    padding: 40px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
  }
  
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
  
  /* Articulos */
  
  .articulos {
    min-height: 500px;
    padding: 30px;
  }
  
  .articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
  }
  
  .articulos .card-header {
    font-weight: bold;
  }
  

  /* Contacto */
  
  .contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
  }
  
  .contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(3, 38, 96);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgb(233, 73, 73);
  }
  
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .contacto .descripcion {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
  }
  
  .contacto button {
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(19, 16, 16);
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover {
    background-color: rgb(100, 27, 27);
    color: rgb(161, 63, 63);
  }
  
  .contacto button i {
    color: rgb(143, 111, 22);
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    color: rgb(250, 79, 79);
  }
  
  /* Pie de pagina (footer) */
  
  footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgb(14, 9, 9);
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: rgb(57, 36, 36);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 16, 39);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #a95a5a;
    padding: 20px;
  }
  
  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }